import { Module } from '@nestjs/common';
import { DatabaseModule } from '@app/common';
import { MongooseModule } from '@nestjs/mongoose';
<%= imports %>

@Module({
    <%= content %>
})
export class <%= classify(name) %>Module {}
